.typewritten {
  font-family: "Special Elite", cursive;
}

button {
  font-family: "Special Elite", cursive;
  font-size: 100px;
  background-color: #fff;
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.clicked {
  animation: move 0.7s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes move {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
}
